<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaddock.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.shaddock.entity.User">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="introduce_sign" jdbcType="VARCHAR" property="introduceSign"/>
        <result column="user_pic" jdbcType="VARCHAR" property="userPic"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_id, nick_name, login_name, password, introduce_sign, user_pic,
    create_time, update_time
    </sql>

    <select id="selectByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shaddock_cook_user
        where login_name = #{loginName}
    </select>

    <insert id="insertSelective" parameterType="com.shaddock.entity.User">
        insert into shaddock_cook_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="introduceSign != null">
                introduce_sign,
            </if>
            <if test="userPic != null">
                user_pic,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="introduceSign != null">
                #{introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="userPic != null">
                #{userPic,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shaddock_cook_user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectByLoginNameAndPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shaddock_cook_user
        where login_name = #{loginName} and password = #{password}
    </select>
</mapper>